:root{
    --snow-container: #344D2F;
    --snow-page: #F0F4F7;

}

.day2{
    min-height: 95vh;
    display: grid;
    place-items: center;
}

main{
    width: 70%;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main > div {
    display: flex;
    align-items: center;
}

main > div > h1, 
main > div > span
{
    font-size: 45px;
}

