.day9{
    height: 95vh;
    background: #344D2F;
    display: grid;
    place-items: center;
}

.day9 > main{
    width: 60%;
    height: 450px;
    background: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
